<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size-lg="11">
      <ion-item>
        <ion-label position="floating">Nueva Tarea</ion-label>
        <ion-input [(ngModel)]="tarea"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size-lg="1">
      <ion-button expand="block" (click)="agregar()" *ngIf="tarea">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list *ngIf="tareas.length > 0">
        <ion-item-sliding *ngFor="let item of tareas; let i=index">
          <ion-item-options side="start" (ionSwipe)="completar(i)">
            <ion-button expand="block" (click)="marcar(i)">
              <ion-icon name="warning-outline"></ion-icon>
            </ion-button>
            <ion-item-option expandable color="success">
              <ion-icon name="checkmark-done-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item-options side="end" (ionSwipe)="eliminar(i)">
            <ion-item-option expandable color="danger">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item>
            <ion-label>{{item}}</ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>